$color: orange;

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
@media only screen and (min-width: 600px) {
  body {
    background-color: lightgoldenrodyellow;
  }
}


%reuse {
  font-family: sans-serif;
  font-size: 18px;
  padding: 20px;
  margin: 20px;
}

.table{
  @extend %reuse;
  row-gap: 20px;
  column-gap: 20px;
}

.item-1{
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid $color;
}

.item-2{
  margin-bottom: 5px;
  margin-top: 5px;
  border: 1px solid blue;
}

body {
  margin:0;
  padding:0;
}

th, td{
  border: 1px solid red;
}

#home{
  font-style: italic;
}

/* immediate child selector */
tr > th {
  font-style: italic;
}